http://:8080 {
	bind 0.0.0.0

	basicauth {
		{$HTTP_BASIC_AUTH_USER} {$HTTP_BASIC_AUTH_PASSWORD}
	}

	reverse_proxy {
		to http://private-website:5000
	}

	handle_errors {
		respond "{http.error.status_code} {http.error.status_text}" 200
	}
}
